
.idea
*.pyc

# ignore example downloads, but keep template
docs/example/espa_downloads
docs/example/modis_downloads
!espa_api_client/templates/example_dc_metro.json

# ignore all other json templates.
espa_api_client/templates/*.json

# pip stuff
build/
dist/
*.egg-info/
*.egg
__pycache__/
*.so
*~

